body {
    font-family: 'Helvetica', sans-serif; /* Using Helvetica font */
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
}

.city-name {
    font-size: 5em;
    font-family: 'Helvetica', sans-serif; /* Using Helvetica font */
    margin-bottom: 20px;
}

.time-display {
    font-size: 3em;
}